.button {
  min-width: 245px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}

.button--primary {
  background-color: $base-color;
  color: white;
}

.button--primary:hover {
  background-color: lighten($base-color, 20%);
}

.button--secondary {
  background-color: white;
  border: 2px solid $base-color--light;
}

.button--secondary:hover {
  border-color: darken($base-color--light, 30%);
}
