.carboidratos {
  .carboidratos__calculo {
    margin-top: 30px;
    padding: 0 0 0 30px;
  }

  .carboidratos__resultado {
    width: 100%;
    height: calc(90px + 20px + 25px);
    display: flex;
    justify-content: center;
    background-color: $grey-color;
    text-align: center;
   }

   .carboidratos__resultado-container {
     align-self: center;

     p {
       margin: -10px 0 5px 0;
       font-size: 3.4rem;
       font-weight: 600;
     }

     span {
       font-size: 1.4rem;
       font-weight: 600;
     }
  }

  .button--primary {
    margin-top: 30px; 
  }
}
