html, body {
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: $base-color--dark;
}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.padding-reset--left {
  padding-left: 0;
}

.padding-reset--right {
  padding-right: 0;
}

a {
  color: inherit;
}

hr {
  width: 100%;
  border-top-color: #ddd;
}

section {
  margin-top: 70px;
}

::selection {
  background: $base-color--light;
}
